@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    color: rgb(25, 25, 25);
    /*border: 1px dotted grey;*/
}
body{
    margin: 0;
    padding: 0;
    background-image: url("valorai-bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container{
    margin: 10vh 10vw;
}
.white-background{
    z-index: -1;
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.945);
}
.home-right-box{
    height:100%;
    flex-grow: 1;
    flex:1;
}
.home-left-box{
    flex-grow:1;
    flex-direction: column;
    flex:1;
}
.home-container{
    height: 79vh;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: row;
}
.login-container{
    height: 50%;
}
h2{
    font-weight: 400;
    font-size: 56px;
    margin:0;
}
input{
    border:0;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.login-box{
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
}
.login-box > div{
    margin: 15px;
}
.login-title{
    font-size: 20px;
    text-align: center;
}
.login-button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.login-button-box > input{
    width: 100%;
    height: 48px;
    font-size: 14px;
}
.login-input{
    width:calc(100% - 30px);
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    background-color: rgb(243, 243, 243);
}
.login-input:hover, .login-input:focus{
    background-color: rgb(255, 255, 255);
}
.login-btn{
    font-weight: 800;
    background-color: white;
}
.register-btn{
    background-color: transparent;
}