@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    color: rgb(25, 25, 25);
    /*border: 1px dotted grey;*/
}
body{
    margin: 0;
    padding: 0;
    background-image: url("valorai-bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container{
    margin: 10vh 10vw;
}
.white-background{
    z-index: -1;
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.966);
}
.home-right-box{
    height:100%;
    flex-grow: 1;
    flex:1;
}
.home-left-box{
    flex-grow:1;
    flex-direction: column;
    flex:1;
}
.home-container{
    height: 79vh;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: row;
}
.login-container{
    height: 50%;
}
h2{
    font-weight: 400;
    font-size: 56px;
    margin:0;
}
input,button{
    border:0;
}
button{
    cursor: pointer;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.login-box{
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
}
.login-box > div{
    margin: 15px;
}
.login-title{
    font-size: 20px;
    text-align: center;
}
.login-button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.login-button-box > button{
    width: 100%;
    height: 48px;
    font-size: 14px;
}
.login-input{
    width:calc(100% - 30px);
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    background-color: rgb(243, 243, 243);
}
.login-input:hover, .login-input:focus{
    background-color: rgb(255, 255, 255);
}
.login-btn{
    font-weight: 800;
    background-color: white;
}
.register-btn{
    background-color: transparent;
}


/* Upload Page */
.top-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.body-container{
    padding: 40px 50px;
    height: calc(100vh - 80px);
    width: calc(100vw - 100px);
}
.logo-title{
    font-weight: 600;
    font-size: 18px;
}
.section-nav{
    padding-top: 70px;
    display:flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}
.section-nav > a{
    margin-bottom: 45px;
    color:rgb(173, 173, 173);
    font-weight: 500;
}
.current-page{
    color: black !important;
}
a{
    text-decoration: none;
}
.vertical-line{
    border-left: 1px solid #ccc;
    margin: 0px 10px;
    min-height: 100%;
}
.main-body{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    height: calc(100%-30px);
}
.section-upload{
    width: 100%;
    height: calc(100%);
    padding-top: 20px;
}
.upload-box{
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}
.upload-drag-drop{
    margin:30px;
    border: 1px dashed #ccc;
    min-height: 300px;
    max-height: 500px;
    min-width: 500px;
}
.button-style{
    font-size: 14px;
    height: 48px;
    font-weight: 600;
    background-color: rgb(197, 197, 197);
    padding: 0px 30px;
}
.button-nobox-style{
    font-size: 14px;
    height: 48px;
    font-weight: 600;
    background-color: transparent;
    padding:0;
}

/* Analysis Page */
.nav-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.flex-column{
    flex-direction: column !important;
}
.analysis-heading1{
    font-size: 24px;
}
.analysis-text{
    font-size: 14px;
}
.section-analysis{
    padding-right: 30px;
    min-width: calc(100% - 450px - 30px);
}
.section-analysis > div{
    margin-bottom: 15px;

}
.analysis-container{
    margin-top: 25px;
    display:flex;
    flex-direction: row;
}
.section-timestamp{
    padding: 20px;
    min-width: calc(450px - 40px);
    background-color: rgb(197, 197, 197);
}
.section-video{
    --varheight: 400px;
    height: var(--varheight);
    width: calc(var(--varheight)*1.78);
    border: 1px solid black;
}
.timestamp-heading{
    font-weight: 800;
    text-align: center;
}
