<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor.ai | Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
<div class="register-popup" id="registerPopup">
    <div class="dim-background">
        <div class="register-box">
            <form action="/register" method="post">
                <div class="register-title">Register new account</div>
                <input type="text" id="unameInput" name="username" placeholder="Username"/>
                <div id="usernameCheck"></div>
                <input class="password-box" id="pwdInput" name="password" type="password" placeholder="Password"/>
                <div class="tooltip" id="passwordtooltip"></div>
                <input type="password" id="repwdInput" placeholder="Retype password"/>
                <div class="tooltip" id="passwordMatch"></div>
                <div class="register-container">
                    <button class="grey-button" type="submit" id="registerButton" disabled>Register</button>
                    <button onclick="hideRegister();" class="grey-button" type="button">Cancel</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
    <div class="white-background"></div>
    <div class="main-container flex-center">
        <div class="home-container">
            <div class="home-left-box flex-center">
                <h2 class="home-title">Valor.ai</h2>
                <div class="home-description">Valorant AI Coaching</div>
            </div>
            <div class="home-right-box flex-center">
                <div class="login-container flex-center">
                    <form class="login-box" action="/login" method="post">
                        <div class="login-title">
                            Login to your account
                        </div>
                        <div class="login-username-box">
                            <input type="text" name="uname" id="uname" placeholder="Username" class="login-input">
                        </div>
                        <div class="login-password-box">
                            <input type="password" name="upwd" id="upwd" placeholder="Password" class="login-input"  autocomplete="off">
                        </div>
                        <div class="login-button-box">
                            <button type="submit"  class="login-btn">Login</button>
                            <button type="button" class="register-btn" onclick="showRegister()">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        <% if(typeof wronglogin !== 'undefined' && wronglogin == true){ %>
            showMessage("Wrong login info!","alert");
        <%}%>
        <% if(typeof unauthorized !== 'undefined' && unauthorized == true){ %>
            showMessage("Please login first!","alert");
        <%}%>
        <% if(typeof regsuccess !== 'undefined' && regsuccess == true){ %>
            showMessage("Account successfully registered","success");
        <%}%>
        var infoCheck = [false,false,false];
        const unameInput = document.getElementById("unameInput");
        const pwdInput = document.getElementById("pwdInput");
        const repwdInput = document.getElementById("repwdInput");
        const userCheck = document.getElementById("usernameCheck");
        const pwdTooltip = document.getElementById("passwordtooltip");
        const pwdMatch = document.getElementById("passwordMatch");
        function checkRegInfo(){
            var i = 0;
            infoCheck.forEach((info)=>{
                if(info) i++;
            });
            if(i == 3){
                document.getElementById("registerButton").classList.remove("grey-button");
                document.getElementById("registerButton").disabled = false;
            }else{
                document.getElementById("registerButton").classList.add("grey-button");
                document.getElementById("registerButton").disabled = true;
            }
        }
        async function checkPwd(){
            const password = pwdInput.value;
            if(password.length == 0){
                pwdTooltip.textContent = '';
            }else{
                if(password.length >= 6 && password.length <= 32){
                    infoCheck[1] = true;
                    pwdTooltip.textContent = 'Password is good.';
                    pwdTooltip.classList.remove("unavailable");
                    pwdTooltip.classList.add("available");
                }else{
                    infoCheck[1] = false;
                    pwdTooltip.textContent = 'Password must be 6 - 32 characters long';
                    pwdTooltip.classList.remove("available");
                    pwdTooltip.classList.add("unavailable");
                }   
            }
        }
        async function checkRepwd(){
            const password = repwdInput.value;
            if(password.length == 0){
                pwdMatch.textContent = '';
            }else{
                if(password != pwdInput.value){
                    infoCheck[2] = false;
                    pwdMatch.textContent = 'Password does not match';
                    pwdMatch.classList.remove("available");
                    pwdMatch.classList.add("unavailable");
                }else{
                    infoCheck[2] = true;
                    pwdMatch.textContent = 'Password match';
                    pwdMatch.classList.remove("unavailable");
                    pwdMatch.classList.add("available");
                }
            }
        };
        unameInput.addEventListener("input",async()=>{
            const username = unameInput.value;
            if(username == ''){
                userCheck.textContent = '';
            }else{
                try {
                    const response = await fetch(`/check-username?username=${username}`);
                    const data = await response.json();
                    if (data.available){
                        infoCheck[0] = true;
                        userCheck.textContent = 'Username is available!';
                        userCheck.classList.remove('unavailable');
                        userCheck.classList.add('available');
                    } else {
                        infoCheck[0] = false;
                        userCheck.textContent = 'Username is not available.';
                        userCheck.classList.remove('available');
                        userCheck.classList.add('unavailable');
                    }
                    checkRegInfo();
                } catch (error) {
                console.error(error);
                // Handle error if necessary
                }
            }
        });
        pwdInput.addEventListener("input",async()=>{
            checkPwd();
            checkRepwd();
            checkRegInfo(); 
        });
        repwdInput.addEventListener("input",async()=>{ 
            checkRepwd();
            checkRegInfo();
        });
        function showRegister(){
            document.getElementById("registerPopup").style.display = "block";
        }
        function hideRegister(){
            document.getElementById("registerPopup").style.display = "none";
        }
    </script>
</body>
</html>