<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor.ai | Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
    
    <div class="white-background"></div>
    <div class="main-container flex-center">
        <div class="home-container">
            <div class="home-left-box flex-center">
                <h2 class="home-title">Valor.ai</h2>
                <div class="home-description">Valorant AI Coaching</div>
            </div>
            <div class="home-right-box flex-center">
                <div class="login-container flex-center">
                    <form class="login-box" action="/login" method="post">
                        <div class="login-title">
                            Login to your account
                        </div>
                        <div class="login-username-box">
                            <input type="text" name="uname" id="uname" placeholder="Username" class="login-input">
                        </div>
                        <div class="login-password-box">
                            <input type="password" name="upwd" id="upwd" placeholder="Password" class="login-input"  autocomplete="off">
                        </div>
                        <div class="login-button-box">
                            <button type="submit"  class="login-btn">Login</button>
                            <button type="button" class="register-btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showMessage(msg){
            var fadingMsg = document.createElement("div");
            fadingMsg.innerHTML = msg;
            fadingMsg.classList.add("fading-msg");
            document.body.appendChild(fadingMsg);
            setTimeout(function(){
                fadingMsg.classList.add("fade-animation");
                setTimeout(function(){
                    fadingMsg.remove();
                },1000)
            },1000);
        }
        <% if(typeof wronglogin !== 'undefined' && wronglogin == true){ %>
            showMessage("Wrong login info!");
        <%}%>
        <% if(typeof unauthorized !== 'undefined' && unauthorized == true){ %>
            showMessage("Please login first!");
        <%}%>
    </script>
</body>
</html>