<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor.ai | Upload</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="script.js"></script>
</head>
<body>
    <div class="loading-screen" id="loadingScreen">
        <div class="loading-box">
            <div>Uploading and processing video</div>
            <div class="loader"></div>
        </div>
    </div>
    <div class="white-background"></div>
    <div class="body-container">
        <div class="top-header">
            <a href="/upload" class="logo-title">Valor.ai</a>
            <a href="/logout" class="logged-user">
            <%= username %>
            </a>
        </div>
        <div class="main-body">
            <div class="section-nav">
                <a href="" class="current-page">Upload</a>
                <a href="/summary">Summary</a>
                <a href="/match_history">Match history</a>
            </div>
            <span class="vertical-line"></span>
            <div class="section-upload">
                <form class="upload-box flex-center" id="uploadBox" enctype='multipart/form-data'>
                    <div class="upload-drag-drop">
                        <input type="file" class="upload-input" name="videofile" id="videofile" accept="video/*">
                    </div>
                    <button type="submit" class="button-style">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    var havePrevented = false;
        document.getElementById("uploadBox").addEventListener('submit',(e)=>{
            e.preventDefault();
            if(document.getElementById("videofile").files.length == 0 ){
                showMessage("Please choose a file","alert");
            }else{
                document.getElementById("loadingScreen").style.display = 'block';
                const inputFile = document.getElementById("videofile");
                const file = inputFile.files[0];
                if(file){
                    const formData = new FormData();
                    formData.append('file', file);
                    console.log(formData);
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '/upload_video');
                    xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        window.location.href = '/upload_analysis';
                    }
                    };
                    xhr.send(formData);
                }
            }
            
        })
        <% if(typeof noaccess !== 'undefined' && noaccess == true){%>
            showMessage("Please upload your video first!","alert");
        <%}%>
        <% if(typeof uploadsuccess !== 'undefined' && uploadsuccess == true){%>
            showMessage("Analysis saved","success");
        <%}%>
        <% if(typeof discardsuccess !== 'undefined' && discardsuccess == true){%>
            showMessage("Analysis discarded","warning");
        <%}%>
    </script>
</body>
</html>