<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor.ai | Analysis</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="white-background"></div>
    <div class="body-container">
        <div class="top-header">
            <a href="/upload" class="logo-title">Valor.ai</a>
            <a href="/logout" class="logged-user"><%=username%></a>
        </div>
        <div class="main-body flex-column">
            <form class="nav-button" action="/upload_tips" method="get">
                <button type="button" class="button-nobox-style" onclick="history.back()">⟵ Back</button>
                <button type="submit" class="button-style">Next</button>
            </form>
            <div class="analysis-container">
                <div class="section-analysis">
                    <div class="analysis-heading1">Analysis completed</div>
                    <div class="section-video">
                    </div>
                </div>
                <div class="section-timestamp">
                    <div class="timestamp-heading">Timestamps</div>
                    <div class="timestamp-mistake-box">
                        <div class="mistake-container"> <!--instance of 1 mistake type-->
                            <div class="mistake-name" onmouseover="checkPopupPos(this)">Mistake 1
                                <span class="mistake-popup">
                                    <div class="popup-video">
                                        <img src="valorai.jpg" alt=""/>
                                    </div>
                                    <div class="popup-info">
                                        <div class="info-name">Mistake 1</div>
                                        <div class="info-description">A short description about the mistake shown in the video</div>
                                    </div>
                                </span>
                            </div>
                            <div class="mistake-timestamp-container">
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                            </div>
                        </div>
                        <div class="mistake-container"> <!--instance of 1 mistake type-->
                            <div class="mistake-name">Mistake 2
                                <span class="mistake-popup">
                                    <div class="popup-video">
                                        <img src="valorai.jpg" alt=""/>
                                    </div>
                                    <div class="popup-info">
                                        <div class="info-name">Mistake 2</div>
                                        <div class="info-description">A short description about the mistake shown in the video</div>
                                    </div>
                                </span>
                            </div>
                            <div class="mistake-timestamp-container">
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                            </div>
                        </div>
                        <div class="mistake-container"> <!--instance of 1 mistake type-->
                            <div class="mistake-name" onmouseover="checkPopupPos(this)">Mistake 3
                                <span class="mistake-popup">
                                    <div class="popup-video">
                                        <img src="valorai.jpg" alt=""/>
                                    </div>
                                    <div class="popup-info">
                                        <div class="info-name" >Mistake 3</div>
                                        <div class="info-description">A short description about the mistake shown in the video</div>
                                    </div>
                                </span>
                            </div>
                            <div class="mistake-timestamp-container">
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                                <div class="timestamp-button">00:00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>