<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor.ai | Tips</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="confirmation-box" id="confirmationBox">
        <div class="dim-background">
            <div class="save-box">
                <button class="exit-button" onclick="hideConfirmation()">X</button>
                <form class="box-container" action="/submit_mistake" method="post">
                    <div>Save Analysis</div>
                    <textarea class="text-note" id="textnote" name="textnote" rows="10" cols="30" placeholder="Write notes about this review (What you take away from it, What can you do to improve on those mistakes, etc.)"></textarea>
                    <div class="confirmation-button">
                        <button class="confirmation-save" type="submit">Save</button>
                        <button class="confirmation-discard" type="button" onclick="showDiscardConfirm()">Discard</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="confirmation-box" id="discardConfirm">
        <div class="dim-background">
            <div class="discard-confirm">
                <div>Confirm discard review? (All mistakes analyzed will be deleted)</div>
                <form class="confirmation-button" action="/discard_mistake" method="post">
                    <button class="confirmation-save" onclick="hideDiscardConfirm()">Cancel</button>
                    <button class="confirmation-discard" type="submit">Discard</button>
                </div>
            </div>
        </div>
    </div>
    <div class="white-background"></div>
    <div class="body-container">
        <div class="top-header">
            <a href="/upload" class="logo-title">Valor.ai</a>
            <a href="/logout" class="logged-user"><%=username%></a>
        </div>
        <div class="main-body flex-column">
            <div class="nav-button">
                <button type="button" class="button-nobox-style" onclick="window.location.href = '/upload_analysis';">⟵ Back</button>
                <button type="button" class="button-style" onclick="showConfirmation()">Save</button>
            </div>
            <div class="analysis-container">
                <div class="section-analysis">
                    <div class="analysis-heading1">Tips</div>
                    <div class="tips-container">
                        <div class="tips-instance">
                            <div class="tips-name">Tips #1</div>
                            <div class="tips-video">
                                <img src="valorai.jpg" alt="">
                            </div>
                            <div class="tips-description">Description of the tips. Long long long long long long long long long texts about the description of the tips.</div>
                        </div>
                        <div class="tips-instance">
                            <div class="tips-name">Tips #2</div>
                            <div class="tips-video">
                                <img src="valorai.jpg" alt="">
                            </div>
                            <div class="tips-description">Description of the tips. Long long long long long long long long long texts about the description of the tips.</div>
                        </div>
                        <div class="tips-instance">
                            <div class="tips-name">Tips #3</div>
                            <div class="tips-video">
                                <img src="valorai.jpg" alt="">
                            </div>
                            <div class="tips-description">Description of the tips. Long long long long long long long long long texts about the description of the tips.</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>